/* Frame */

html {
    background-color: white;
    color: black;
    /* cursor: crosshair; */
    cursor: default;
    min-height: 101%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 150px 0 20px;
    padding-right: 20px;
    border-right: 10px dotted black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

/* Images */

.logo.alien {
    position: fixed;
}

.mainimage {
    width: 80%;
    height: 400px;
    border-radius: 25px;
}


/* Menu */

.nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin-right: 45px;
    right: 0;
    width: 5%;
    height: 100%;
    position: fixed;

}

.nav ul li a {
    text-decoration: none;
    display: block;
    transition: transform 2s;
    transition-timing-function: ease-in-out;
}

.nav ul li a:hover {
    cursor: default;
    transform: rotate(90deg);
    font-size: x-large;
    color: red;
    text-decoration: line-through;
}

.nav li a.active {
    background-color: palegreen;
    border-radius: 50px;
}

/* Title */

h1 {
    font-size: 3em;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: 6;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {transform: translate(0, 0px); }
    50% {transform: translate(0, 100px); }
    100% {transform: translate(0, -0px); }
}

/* Main Content */

/* home */

.columns {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 20px;
    justify-content: center;
    text-align: justify;
    padding-top: 10px;
}

.each-column {
    padding: 0px 15px;
}

div .each-column:hover {
    background-color: palegreen;
    border: 2px solid black;
    border-radius: 25px;
}

/* about */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.about-me {
    display: block;
    text-align: justify;
    margin: 100px 200px;
    height: 100%;
}

.text-p {
    margin-bottom: 50px;
}

div.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    list-style-type: persian;
}

.list ul li a {
    text-decoration: none;
    cursor: default;
}

.list ul li {
    margin-bottom: 10px;;
}

.list ul li a:hover {
    text-decoration: line-through;
    color: red;
}

/* designs */

.design-layout {
    padding: 60px 70px 50px 70px;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 10px;
}

.image-grid {
    padding-top: 50px;
    margin: 0px 10px;
}

.image-grid img:hover {
    border: 10px solid palegreen;
}

.row-1 {
    display: flex;
}

.row-1 img {
    width: 90%;
}

.row-2 {
    display: flex;
}

.row-2 img {
    width: 90%;
}

.desc {
    padding-bottom: 15px;
}

/* order */

fieldset {
    display: flex;
    padding: 20px;
    margin: 20px 400px 70px;
    background-color: palegreen;
    border: 3px solid black;
    border-radius: 25px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-content {
    padding: 20px;
    margin: 20px 0px;
}

.field {
    width: 70%;
    outline-color: orange;
    border-radius: 17px;
    border: 1px solid black;
    margin: 4px 0px;
}

.labels {
    margin: 10px 0px 0px;
}

.divider {
margin: 20px 0px 0px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    outline: none;
    margin-top: 5px;
}

.options2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    margin-top: 5px;
}

textarea {
    height: 50px;
    resize: none;
}

.columns2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    outline: none;
    margin-top: 5px;
}

.optionsLabel {
    margin: 0px 10px;
}

button {
    width: 40%;
    height: 30px;
    background-color: white;
    border-radius: 17px;
    margin: 30px 0px 20px;
}

button:hover {
    width: 50%;
    height: 50%;
    color: orange;
    border: 3px solid orange;
    text-decoration: line-through;
    font-weight: bolder;
    font-size: larger;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: start;
    width: 30px;
    height: 30px;
}

.hide {
    position: absolute;
    display: none;
    left: 0;
    margin-left: 70px;
}

.logo.smiley:hover + .hide{
    display: block;
    font-weight: bold;
    color: red;
}

.contact a {
    cursor: default;
    text-decoration: none;
}

.contact:hover {
    color:blue;
    text-decoration: line-through;
}


/* Media Queries */

/* Frame */

@media (max-width: 1100px) {
    body {
        height: 100%;
    }
}

@media (max-width: 1100px) {
    .container {
        height: 100%;
    }
}

@media (max-width: 992px) {
    .container {
        border: none;
        padding: 0px 5px;
        margin: 0px 10px;
        height: 100%;
    }
}

@media (max-width: 600px) {
    .container {
        border: none;
        padding: 0px 5px;
        margin: 0px 10px;
    }
}

@media (max-width: 1100px) {
    .main {
        padding-top: 30px;
        height: 100%;
    }
}

@media (max-width: 992px) {
    .main {
        padding-top: 30px;
        height: 100%;
    }
}

@media (max-width: 600px) {
    .main {
        padding-top: 30px;
    }
}


/* menu */
@media (max-width: 992px) {
    .nav ul {
        display: flex;
        flex-direction: row;
        padding: 0px 5px;
        margin: 5px 10px;
        height: 5%;
        width: 100%;
        left: 5px;
    }
}

@media (max-width: 600px) {
    .nav ul {
        display: flex;
        flex-direction: row;
        padding: 0px 5px;
        margin: 5px 10px;
        height: 5%;
        width: 100%;
        left: 5px;
    }
}

/* content */

@media (max-width: 992px) {
    .columns {
        display: block;
    }
}

@media (max-width: 600px) {
    .columns {
        display: block;
    }
}



@media (max-width: 992px) {
    .about-me {
        margin: 50px 10px ;
    }
}

@media (max-width: 600px) {
    .about-me {
        margin: 50px 10px ;
    }
}

@media (max-width: 1100px) {
    .image-grid{
        display: flex;
        flex-direction: row;
    }
    .row-1 {
        flex-direction: column;
    }
    .row-2 {
        flex-direction: column;
    }

}

@media (max-width: 992px) {
    .image-grid {
        display: flex;
        flex-direction: column;
    }
    .image-grid img{
        display: block;
        margin: 10px 0px;
        width: 100%;
    }
    .row-1 {
        display: flex;
        flex-direction: column;
    }
    .row-2 {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 600px) {
    .image-grid {
        display: flex;
        flex-direction: column;
    }
    .image-grid img{
        display: block;
        margin: 10px 0px;
        width: 100%;
    }
    .row-1 {
        display: flex;
        flex-direction: column;
    }
    .row-2 {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1100px) {
    fieldset{
        display: flex;

    }
}

@media (max-width: 992px) {
    fieldset{
        display: flex;
    }

}

/* form */

@media (max-width: 1100px) {
    form {
        display: flex;
    }
    fieldset {
        display: flex;
        flex-direction: column;
    }
    .form-content {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    form {
        display: flex;
        flex: 300px;
        width: 90%;
        height: auto;
    }
    fieldset {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .form-content {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}

@media (max-width: 600px) {
    form {
        width: 90%;
        height: auto;
    }
    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 0;
    }
    div.form-content {
        display: flex;
        flex-direction: column;
        width: 70%;

    }
}


/* footer */

@media (max-width: 1100px) {
    .footer {
        margin-top: 20px;
    }

}
