html {
    background-color: white;
    color: black;
    /* cursor: crosshair; */
    cursor: default;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 150px 0 20px;
    padding-right: 20px;
    border-right: 10px dotted black;
    /* 50 */
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.logo.alien {
    position: fixed;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin-right: 45px;
    /* border-left: 50px dotted black; */
    right: 0;
    width: 5%;
    height: 100%;
    position: fixed;

}

li a {
    text-decoration: none;
    display: block;
    transition: transform 2s;
    transition-timing-function: ease-in-out;
}

li a:hover {
    cursor: default;
    transform: rotate(90deg);
    font-size: x-large;
    color: red;
    text-decoration: line-through;
}

li a:active {
    background-color: palegreen;
    border-radius: 50px;
}

li a:visited {
    text-decoration: line-through;
}

h1 {
    font-size: 3em;

}

@keyframes floating {
    0% {transform: translate(0, 0px); }
    50% {transform: translate(0, 100px); }
    100% {transform: translate(0, -0px); }
}

h1:hover {
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}

.mainimage {
    width: 900px;
    height: 400px;
    border-radius: 25px;
}

.columns {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 20px;
    justify-content: center;
    text-align: justify;
    padding-top: 10px;
}

.each-column {
    padding: 0px 15px;
}

div .each-column:hover {
    background-color: palegreen;
    border: 2px solid black;
    border-radius: 25px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: start;
    width: 30px;
    height: 30px;
}

.hide {
    position: absolute;
    display: none;
    left: 0;
    margin-left: 70px;
}

.logo.smiley:hover + .hide{
    display: block;
    font-weight: bold;
    color: red;
}

.contact a {
    text-decoration: none;
}

.contact:hover {
    color:blue;
    text-decoration: line-through;
}
